
.vs/TextAdventure/v15/.suo
.vs/TextAdventure/v15/sqlite3/storage.ide
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
.vs/TextAdventure/v15/.suo
.vs/TextAdventure/v15/sqlite3/storage.ide
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
.vs/TextAdventure/v15/.suo
ConsoleApp1/obj/Debug/Sourcecode.csprojResolveAssemblyReference.cache
ConsoleApp1/obj/Debug/CoreCompileInputs.cache
ConsoleApp1/obj/Debug/Sourcecode.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
